#wrap {
    display: flex;
    flex-direction: column;
}

#hero {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 218px;
    flex-shrink: 0; 
    background: #000;
}

#firstName{
    position : absolute;
    padding-top: 20px;
    width: 250px;
    height: auto;
    padding-left: 20px;
    z-index : 1;
}
#lastName{
    position : absolute;
    padding-top: 90px;
    padding-left: 90px;
    width: 250px;
    height: auto;
    z-index : 1;
}
#chineseName{
    position : absolute;
    padding-top: 100px;
    padding-left: 270px;
    width: 250px;
    height: auto;
    z-index : 1;
}

#nav {
    width: 100%;
    height: 80px;
    flex-shrink: 0;
    background: #444242;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

nav ul a {
    color: #6DC1A6;
}

nav ul a:link {
    text-align: center;
    padding: 15px;
    font-size: 14pt;
    text-transform: uppercase;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-decoration: none;
}

nav ul a:hover {
    background-color: white;
    color: black;
    border-radius: 8px;
}

#main {
    width: 100%;
    border: 4px solid #000;
    background: #FFF;
}

#firstBloc {
    display: flex;
    flex-direction: column;
}

.left {
    padding: 10px;
}

.right {
    margin-left: 20px;
    padding-right: 20px;
}

.textGen {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18pt;
}

#secBloc img {
    width: 100%;
    height: auto;
    padding: 20px;
}

#secBloc p {
    padding: 10px;
}

#thirBloc img {
    width: 100%;
    height: auto;
    padding: 20px;
    border-radius: 20px;
}

.titleImg img {
    width: 100%;
    height: auto;
}

#forthBlc div {
    width: 100%;
    height: auto;
    border-radius: 4px;
    background: #000;   
}

@media only screen and (max-width: 480px) {
    /* Styles for screens up to 480px */
    #intro {
        padding-left: 10px;
        padding-top: 20px;
    }
}
